<p>
This page shows examples of functions that can be integrated by Symtegration.
Each section can also be perused in their own page:
</p>

<ul>
$for(examples)$
<li><a href="$url$">$title$</a></li>
$endfor$
</ul>

Both sides of each equation was generated directly as LaTeX output with Symtegration,
with the integration having been done by Symtegration as well.
Integrals that Symtegration cannot derive yet are denoted by \(\bot\).

$for(examples)$
<section>
<h2 id="$anchor$">$title$</h2>
$body$
</section>
$endfor$
