name: Deploy
permissions: read-all

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.hs'
      - 'site/**'
      - '.github/workflows/deploy.yaml'

jobs:
  hakyll:
    name: hakyll
    runs-on: ubuntu-latest
    concurrency: hakyll
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache dependencies
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ~/.ghcup
            ~/.stack
          key: hakyll-${{ hashFiles('stack.yaml', 'package.yaml') }}
          restore-keys: hakyll-

      - name: Setup Haskell
        uses: haskell-actions/setup@0512451d82f3ca8c147db62e30464e7c4ca63d30 # v2.9.1
        with:
          enable-stack: true

      - name: Build executable
        run: stack build

      - name: Build site
        run: stack exec site build

      - name: Upload
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b #v4.0.0

      - name: Deploy
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
