name: Deploy
permissions: read-all

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.hs'
      - 'site/**'
      - '.github/workflows/deploy.yaml'

jobs:
  hakyll:
    name: hakyll
    runs-on: ubuntu-latest
    concurrency: hakyll
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.ghcup
            ~/.stack
          key: hakyll-${{ hashFiles('stack.yaml', 'package.yaml') }}
          restore-keys: hakyll-

      - name: Setup Haskell
        uses: haskell-actions/setup@f9150cb1d140e9a9271700670baa38991e6fa25c # v2.10.3
        with:
          enable-stack: true

      - name: Build executable
        run: stack build

      - name: Build site
        run: stack exec site build

      - name: Upload
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b #v4.0.0

      - name: Deploy
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
